HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### My ###
src/main/java/com/flightDelay/flightdelayapi/converter/.idea
scripts/converter/.idea
src/main/resources/data
src/main/resources/application.properties
src/test/resources/application.properties
src/main/resources/config/application-dev.properties
src/main/resources/config/application-prod.properties
src/main/resources/config/authentication.properties
src/main/java/com/flightDelay/flightdelayapi/shared/auth
src/main/java/com/flightDelay/flightdelayapi/shared/config/SecurityConfig.java